
/**
 * Find a record by '{{&key}}' in cache
 *
 * @param {string} key's value
 * @return {promise}, return record if find in cache list, otherwise, return null
 */
{{&daoClassName}}Cache.prototype.retrieveBy{{&methodSignature}} = function (key) {
  if (! key || this.cacheSize === 0) return Q();
  if (this.records.length === 0) return Q();

  for (var i = 0; i < this.records.length; i++) {
    var value = null;
    try {
      value = this.records[i].{{&key}};
    } catch(error) {
      continue;
    }
    if (value && value.toString() === key.toString()) {
      logger.debug('Resolve recode with {{&key}} - "' + key +'" in cache');
      return Q(this._clone(this.records[i]));
    }
  }

  return Q();
};